" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Don't use Ex mode, use Q for formatting.
map Q gq

" leader
map <space> <nop>
let mapleader="\<space>"

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

Plug 'https://github.com/preservim/nerdtree'
"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)
"" Move 10 lines up
map <S-UP> 10k

"" Move 10 lines down
map <S-DOWN> 10j

nmap <S-Tab> <Action>(PreviousTab)
nmap <Tab> <Action>(NextTab)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
"" Split the window vertically
nnoremap <leader>bb :action SplitVertically <CR>

"" Close tab
nnoremap <leader>c :action CloseContent <CR>

nnoremap <leader>e :NERDTreeFocus<CR>
nnoremap <leader>e :NERDTree<CR>

"" Got to file
map <leader>ff <Action>(GotoFile)

"" Git branches
map <leader>gb <Action>(Git.Branches)

"" Window navigation
map <C-l> <Action>(NextSplitter)
map <C-h> <Action>(PrevSplitter)

